:root {

    --dark: #0A4A66;
    --light: #5DBEE8;
    --field: #D4E7EA;
    --line: #526770;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--field);
    font-family: sans-serif;

}

header {
    margin: auto;
    max-width: 96%;
    min-height: 200px;
    border: 3px solid var(--line);
}



.title {
    margin: auto;
    width: 96%;
    min-height: 150px;
    box-sizing: content-box;
    text-align: center;
    color: var(--dark);
    font-weight: 700;
    font-size: x-large;
    overflow: hidden;
}

aside {
    display: block;
    min-height: 1000px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 50px;
    float: left;
    max-width: 40%;
    min-width: 20%;
    color: var(--dark);
    font-weight: 900;
    font-size: xx-large;
    border: 5px solid var(--line);

}

.section {
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: 500ms linear;
}

.article {
    position: relative;
    padding: 1rem;
    color: var(--dark);
    font-weight: 800;
    outline: 2px solid var(--line);
    max-width: 96%;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    transition: 0.6s;
    transition-property: opacity;

}

article .img {
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    opacity: 0.8;
    background-color: var(--dark);
    transition: 0.6s;
    transition-property: opacity;
    overflow: hidden;
}


.article:hover img {
    opacity: 1;

}

.article .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--dark);
    width: 100%;
    height: 100%;

}

#p {
    background-image: linear-gradient(rgba(74, 247, 129, 0.3) 0%,
            rgba(74, 247, 129, 0.6) 100%);
    margin-left: 20px;
    margin-right: 500px;
}

.row {
    width: 50%;
    /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
    outline: 2px solid var(--line);
}


img {

    vertical-align: bottom;

}

.img {
    background: var(--dark);
    position: relative;
    max-width: 50%;
    /*height: 300px;*/
    margin: 20px;

}

.img img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.img:hover img {
    opacity: 1;

}

.img .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;


}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark);
    margin: auto;
    width: 96%;
    box-sizing: content-box;
    text-align: center;
    border: 2px solid var(--line);
    font-family: sans-serif;
    font-weight: 900;
    font-size: x-large;

}


@media screen and (min-width: 992px) {

    .row {
        flex: 0 0 50%;
        max-width: 50%;

    }

    .img {
        flex: 0 0 50%;
        max-width: 45%;
    }

}

@media screen and (min-width: 768px) {

    .row {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media screen and (min-width: 562px) {
    .row {
        flex: 0 0 25%;
        max-width: 95%;
    }

}